@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4faff;
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: auto;
  background: linear-gradient(#0873dec9, #01274f63), url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.bannerTwo {
  width: 100%;
  background: linear-gradient(#0873dec9, #01274f63), url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .banner {
    background-position: right;
  }
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 4px !important;
  border-radius: 0% !important;
}

.hr-lines {
  position: relative;
  max-width: 300px;
  text-align: center;
  font-size: 50px;
  color: #0071e3;
}

.hr-lines:before {
  content: " ";
  height: 1px;
  width: 130px;
  background: #0071e3;
  display: block;
  position: absolute;
  top: 35%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 1px;
  width: 130px;
  background: #0071e3;
  display: block;
  position: absolute;
  top: 35%;
  right: 0;
}
